# mariadb configuration derived from the WMF production
# config

# threads are configured differently from production;
# we use mariadb defaults including one thread per connection
# rather than a thread pool
# innodb buffer pool size is the default rather than the 378G
# set in production; we don't have tons of memory, sorry!

# other changes should have minimal to no impact on testing

[client]
port   = 3306
socket = /run/mysqld/mysqld.sock

[mysqld]

# administrative options
user       = mysql
socket     = /run/mysqld/mysqld.sock
port       = 3306
extra-port = 3307
# this is the id for the primary, regardless of set
# replicas will be 100nn, also regardless of set
server_id  = 10001

# this varies with the mariadb version
basedir    = /opt/wmf-mariadb104

datadir    = /srv/sqldata
tmpdir     = /srv/tmp

# gtid_domain_id flag is needed for multisource replication and GTID.
# all db instances will have this domain id. until of course we get to
# external stores :-/
gtid_domain_id  = 10000


skip-external-locking
skip-name-resolve
temp-pool

# thread and connection handling
max_allowed_packet             = 32M
query_cache_size               = 0
query_cache_type               = 0

# table limits
tmp-table-size                 = 64M
max-heap-table-size            = 64M

# optimizer options
sql-mode                       = IGNORE_BAD_TABLE_OPTIONS

optimizer_switch               = 'mrr=on,mrr_cost_based=on,mrr_sort_keys=on,optimize_join_buffer_size=on'
use-stat-tables                = preferably

# charsets and collations
character_set_server           = binary
character_set_filesystem       = binary
collation_server               = binary

# InnoDB options
default-storage-engine         = InnoDB
innodb_file_per_table          = 1
innodb_flush_log_at_trx_commit = 1
innodb_flush_method            = O_DIRECT
innodb_thread_concurrency      = 0
innodb_stats_sample_pages      = 16
innodb_stats_method            = nulls_unequal
innodb_strict_mode             = 1
innodb_purge_threads           = 1
join_cache_level               = 8

# dump and load innodb buffer at start and stop
innodb_buffer_pool_load_at_startup  = 1
innodb_buffer_pool_dump_at_shutdown = 1

[mysqldump]

quick
max_allowed_packet = 32M
